pip~=24.2
wheel~=0.44.0
protobuf~=4.25.5
absl-py~=2.1.0
gast~=0.6.0
grpcio~=1.67.0
numpy~=1.26.4
h5py~=3.12.1
nltk~=3.9.1
regex~=2024.9.11
scipy~=1.14.1
scikit-learn~=1.5.2
click~=8.1.7
tqdm~=4.66.5
requests~=2.32.3
pytz~=2024.2
rich~=13.9.3
Pygments~=2.18.0
markdown-it-py~=3.0.0
keras~=3.6.0
colorama~=0.4.6
libclang~=18.1.1
typing_extensions~=4.12.2
MarkupSafe~=3.0.2
Werkzeug~=3.0.4
Jinja2~=3.1.4
blinker~=1.8.2
itsdangerous~=2.2.0
optree~=0.13.0
tensorflow~=2.17.0
packaging~=24.1
ml-dtypes~=0.4.1
pandas~=2.2.3
namex~=0.0.8
mdurl~=0.1.2
setuptools~=75.2.0
charset-normalizer~=3.4.0
six~=1.16.0
google-pasta~=0.2.0
threadpoolctl~=3.5.0
joblib~=1.4.2
python-dateutil~=2.9.0.post0
certifi~=2024.8.30
urllib3~=2.2.3
gunicorn~=23.0.0
Markdown~=3.7
idna~=3.10
termcolor~=2.5.0
opt_einsum~=3.4.0
flatbuffers~=24.3.25
wrapt~=1.16.0
astunparse~=1.6.3
tensorboard~=2.17.1
Flask~=3.0.3